<header>
  <div class="wrapper">

    <a href="http://{{ site.url }}{{site.baseurl}}">
      <div id="home-button" class="button-container">
        <i class="fas fa-home fa-2x"></i>
      </div>
    </a>
    
    <div class="title">
      <h1>
        <a href="http://{{ site.url }}{{site.baseurl}}">SpacePlace</a>
      </h1>
    </div>

    <div id="full-screen-button" class="button-container">
      <i class="fas fa-expand-alt fa-2x"></i>
    </div>
    
    <script src="{{ site.baseurl }}/assets/js/header.js"></script>
    
  </div>
</header>