<head>
    {% if jekyll.environment == 'production' and site.google_analytics.measurement_id %}
    {% include analytics.html %}
    {% endif %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }} - {{ page.title }}</title>
    <link rel="stylesheet" href="{{ site.baseurl }}/assets/css/main.css">
    <script src="https://kit.fontawesome.com/0ddf5734d4.js" crossorigin="anonymous"></script>
    <script src="{{ site.baseurl }}/assets/js/main.js"></script>
</head>