/**
 * Reset some basic elements
*/
*{
   margin: 0;
   padding: 0;
   list-style: none;
}

/**
* Set some basics
*/

body {
    background: $backgroundColor;
    color: $mainColor;
    font-family: $bodyFont;
}

a {
  color: $mainColor;
  font-family: $bodyFont;
  text-decoration: none;
}

a:hover {
  color: lighten($mainColor, 25%);
}

/**
* Button design
*/

.button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-style: solid;
  border-width: 2px;
  border-color: $mainColor;
}

.button-container:hover {
  cursor: pointer;
  background-color: lighten($mainColor, 25%);
}

i { // logo design from fontawesome
  display: block;
  color: $mainColor;
  margin: auto;
}
