/**
* Header
*/
header {
    width: 100%;
    height: 40px;
    display: block;
    color: $mainColor;
    position: relative;
    z-index: 1000;
}

header .wrapper {
    width: 80%;
    height: 100%;
    display: flex;
    margin: 4px auto;
    cursor: default;
}

header .button-container {
    height: 40px;
    width: 40px;
}

header #home-button {
    float: left;
}

header #full-screen-button {
    float: right;
}

header .title {
    flex-grow: 1;
    display: block;
    margin: none;
    text-align: center;
}
header .title h1{
    margin: auto auto;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
