<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  

  {%- include head.html -%}

  <body>

    {%- include header.html -%}

    <main class="main-content" aria-label="Content">
      <div id="main" class="wrapper">
        {{ content }}
      </div>
    </main>

    {%- include footer.html -%}

  </body>
</html>
